Repository baladithyab/litellm-llm-router: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

Path conditions:
  ruff-format: any of: *.py, but not: ^reference/
  ruff-check: any of: *.py, but not: ^reference/
  yamllint: any of: *.{yaml,yml}, but not: (^reference/|^.github/)
  detect-secrets: any of: *, but not: (^reference/|^.git/|__pycache__|.pytest_cache|.mypy_cache|.ruff_cache)
  detect-private-keys: any of: *, but not: (^reference/|^.git/)
  trailing-whitespace: any of: *.{py,yaml,yml,md,json,sh}, but not: ^reference/
  check-merge-conflict: any of: *, but not: ^reference/
  check-large-files: any of: *, but not: (^reference/|^models/|[.]lock$)

docs(TG10.6): add e2e verification report with perf results
  plans/tg10-6-e2e-verification-report.md
Due: detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

a2a: enable raw streaming passthrough
  src/litellm_llmrouter/a2a_gateway.py
  tests/unit/test_a2a_streaming_passthrough.py
Due: ruff-format, ruff-check, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

tooling: integrate rr (Road Runner) workflow for remote git push
  .rr.yaml
  AGENTS.md
  docs/rr-workflow.md
Due: yamllint, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

quota: add request/token/spend quotas
  src/litellm_llmrouter/quota.py
  tests/conftest.py
  tests/integration/test_quota_enforcement.py
  tests/unit/test_quota.py
Due: ruff-format, ruff-check, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

tests: fix quota enforcement compose stack
  config/config.quota-test.yaml
  docker-compose.quota-test.yml
  tests/integration/test_quota_enforcement.py
Due: ruff-format, ruff-check, yamllint, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

docs: update AGENTS workflow for TG branches + squash + rr bulk pushes
  AGENTS.md
Due: detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

feat: complete TG3.3 audit logging
  src/litellm_llmrouter/audit.py
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/routes.py
  tests/conftest.py
  tests/integration/test_audit_logging.py
  tests/unit/test_audit.py
Due: ruff-format, ruff-check, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

docs: queue epic orchestration plans for TG4–TG9
  plans/backlog.md
  plans/resume-checkpoint.md
  plans/tg4-observability-epic.md
  plans/tg5-security-policy-epic.md
  plans/tg6-ci-quality-gates-epic.md
  plans/tg7-cloud-native-deploy-epic.md
  plans/tg8-routing-mlops-epic.md
  plans/tg9-extensibility-epic.md
Due: detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

feat: complete TG5.2 policy engine hooks
  config/policy.example.yaml
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/policy_engine.py
  tests/conftest.py
  tests/integration/test_policy_enforcement.py
  tests/unit/test_policy_engine.py
Due: ruff-format, ruff-check, yamllint, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

feat: complete TG6.2 ha ci gate
  .github/workflows/ha-gate.yml
  docker-compose.ha-test.yml
  docs/ha-ci-gate.md
  scripts/run_ha_gate.py
  src/litellm_llmrouter/config_sync.py
  src/litellm_llmrouter/leader_election.py
Due: ruff-format, ruff-check, yamllint, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

docs: add CLAUDE.md and rewrite AGENTS.md with deep codebase analysis
  AGENTS.md
  CLAUDE.md
Due: detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

test: add 97 unit tests for auth, config_loader, hot_reload
  tests/property/test_a2a_gateway_properties.py
  tests/unit/test_auth.py
  tests/unit/test_config_loader.py
  tests/unit/test_hot_reload.py
Due: ruff-format, ruff-check, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

fix: ruff format, lefthook install for Code Defender, docker build after CI
  .github/workflows/docker-build.yml
  lefthook.yml
  scripts/install_lefthook.sh
  src/litellm_llmrouter/a2a_gateway.py
  src/litellm_llmrouter/audit.py
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/gateway/plugin_manager.py
  src/litellm_llmrouter/http_client_pool.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/mcp_jsonrpc.py
  src/litellm_llmrouter/mcp_sse_transport.py
  src/litellm_llmrouter/policy_engine.py
  src/litellm_llmrouter/quota.py
  src/litellm_llmrouter/rbac.py
  src/litellm_llmrouter/resilience.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/routes.py
  src/litellm_llmrouter/startup.py
  src/litellm_llmrouter/strategy_registry.py
  src/litellm_llmrouter/url_security.py
Due: ruff-format, ruff-check, yamllint, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

ci: only push container to GHCR on tagged releases
  .github/workflows/docker-build.yml
Due: detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

fix: bypass lefthook on remote for rr push tasks
  .rr.yaml
Due: yamllint, detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

chore: remove HA gate nightly workflow
  .github/workflows/ha-gate.yml
Due: detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

fix: skip GHCR cache export for Dependabot PRs
  .github/workflows/docker-build.yml
Due: detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files

ci: add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: detect-secrets, detect-private-keys, trailing-whitespace, check-merge-conflict, check-large-files
